{% extends 'envanter/base.html' %}

{% block content %}
    <div class="card shadow-sm">
        <div class="card-header">
            <h1 class="h3 mb-0">Ürünü Düzenle: {{ urun.urun_adi }}</h1>
        </div>
        <div class="card-body">
            <form method="post">
                {% csrf_token %}

                {{ form.as_p }}

                <button type="submit" class="btn btn-primary mt-3">Değişiklikleri Kaydet</button>
                <a href="{% url 'urun-detay' urun.pk %}" class="btn btn-secondary mt-3">İptal</a>
            </form>
        </div>
    </div>
{% endblock %}